<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head><body>



<body class="auth-bg">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="auth-container">
    <h1>QuickTickets</h1>
    <h2>Login 🎬</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Login</button>
    </form>

    <a href="/forgot">Forgot Password?</a>
    <a href="/signup">Create Account</a>
</div>

</body>

</body>
